extends layout

block content

	section(class="container text-center", style="margin-top: 20px").
				<h1 class="text-center">
					<strong>Welcome</strong> to BitcoinID
					<span class="subtitle">The Bitcoin Identity Explorer</span>
				</h1>
				<p class="lead">BitcoinID is a project prototyping how Cryptocurrency Block Explorers can be extended to use third-party identity information and blockchain analysis techniques to help track the movement of coins in a cryptocurrency.</p>


			div(class="container").
				<hr class="half-margins" /><!-- hr line -->


			<!-- FEATURED BOXES 3 -->
	section(class="container")

		div#info_display(ng-controller="InfoController", ng-init="getInfo()")
			h2 Entity Mapping Overview
			div(class="tp-loader", ng-hide="hasData")
			div(class="alert alert-danger", ng-show="error")
				i(class="fa fa-frown-o") 
					strong &nbsp; Error 
					span  {{error}}
			div.controller-data(ng-show="hasData")
				div(class="row text-center countTo")
					div.col-md-3
						strong {{info.num_blocks_synced}}
						label Blocks Synced
					div.col-md-3
						strong {{calcNumBlocksRemaining()}}
						label Blocks Remaining
					div.col-md-3
						strong {{info.num_addresses}}
						label Addresses
					div.col-md-3
						strong {{info.num_entities}}
						label Entities
				
				div(class="row")
					div.col-md-12
						div.progress-bars
							div(class="progress-label")
								span Sync Progress
							div(class="progress")
								div(class="progress-bar progress-bar-primary",  style="width: {{calcPercentSynced()}};")
									span(class="progress-bar-tooltip", style="opacity: 1;") {{calcPercentSynced()}}
					
					
			
					
				
		div(class="divider")
	
				
					
		div#recent_blocks(ng-controller="BlocksController", ng-init="getBlocks(86400000)")
			h2 Recent Blocks Mapped
			div(class="alert alert-danger", ng-show="error")
				i(class="fa fa-frown-o") 
					strong &nbsp; Error 
					span  {{error}}
			div(class="tp-loader", ng-hide="hasData")
			div.controller-data(ng-show="hasData")
				div(class="row")
					div(class="col-md-3", ng-repeat="block in blocks", style="padding-top:20px;")
							div(class="featured-box no-bg border-only")
								div(class="box-content")
									h4 
										a(href="/block/{{block.height}}") Block {{block.height}}
									p 
										ng-pluralize(count="block.tx.length", when="{'0': 'No transactions.', 'one': '1 transaction','other': '{} transactions'}")
								p Received: {{getBlockDateTime(block)}}