doctype html
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
html(ng-app)
	head.
		<meta charset="utf-8" />
		<title>BitcoinID - Bitcoin Identity Explorer</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="/theme/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/theme/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="/theme/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
		<link href="/theme/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
		<link href="/theme/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
		<link href="/theme/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
		<link href="/theme/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="/theme/css/superslides.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="/theme/plugins/revolution-slider/css/captions.css" rel="stylesheet" type="text/css" />
		<link href="/theme/plugins/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/theme/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/theme/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="/theme/css/layout-responsive.css" rel="stylesheet" type="text/css" />
		<link href="/theme/css/color_scheme/orange.css" rel="stylesheet" type="text/css" /><!-- orange: default style -->
		<!--<link id="css_dark_skin" href="/theme/css/layout-dark.css" rel="stylesheet" type="text/css" />--><!-- DARK SKIN -->

		<!-- styleswitcher - demo only -->
		<link href="/theme/css/color_scheme/orange.css" rel="alternate stylesheet" type="text/css" title="orange" />
		<link href="/theme/css/color_scheme/red.css" rel="alternate stylesheet" type="text/css" title="red" />
		<link href="/theme/css/color_scheme/pink.css" rel="alternate stylesheet" type="text/css" title="pink" />
		<link href="/theme/css/color_scheme/yellow.css" rel="alternate stylesheet" type="text/css" title="yellow" />
		<link href="/theme/css/color_scheme/darkgreen.css" rel="alternate stylesheet" type="text/css" title="darkgreen" />
		<link href="/theme/css/color_scheme/green.css" rel="alternate stylesheet" type="text/css" title="green" />
		<link href="/theme/css/color_scheme/darkblue.css" rel="alternate stylesheet" type="text/css" title="darkblue" />
		<link href="/theme/css/color_scheme/blue.css" rel="alternate stylesheet" type="text/css" title="blue" />
		<link href="/theme/css/color_scheme/brown.css" rel="alternate stylesheet" type="text/css" title="brown" />
		<link href="/theme/css/color_scheme/lightgrey.css" rel="alternate stylesheet" type="text/css" title="lightgrey" />
		<!-- /styleswitcher - demo only -->
		
		

		<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<link href="/theme/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css" />		

		<!-- Morenizr -->
		<script type="text/javascript" src="/theme/plugins/modernizr.min.js"></script>
		<!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="/theme/images/boxed_background/1.jpg"  -->
	
	body
		<!-- TOP NAV -->
		header(id="topNav").
			<div class="container">
				<!-- Mobile Menu Button -->
				<button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" href="/">
					BitcoinID
				</a>

				<!-- Top Nav -->
				<div class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">
							<li class="active">
								<a class="" href="/">
									Home <i class="fa fa-home"></i>
								</a>
							</li>
							<li class="active">
								<a class="" href="/">
									Blocks <i class="fa fa-square"></i>
								</a>
							</li>
							<li class="active">
								<a class="" href="/">
									Transactions <i class="fa fa-btc"></i>
								</a>
							</li>
							<li class="active">
								<a class="" href="/">
									Entities <i class="fa fa-users"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
		<span id="header_shadow"></span>
		<!-- /TOP NAV -->



		



		<!-- WRAPPER -->
		div(id="wrapper")
			block content
			
				
				
				
			<!-- /FEATURED BOXES 3 -->


			div(class="container").
				<hr class="no-lines" /><!-- hr line -->





		<!-- /WRAPPER -->



		<!-- FOOTER -->
		footer.

			<!-- copyright , scrollTo Top -->
			<div class="footer-bar">
				<div class="container">
					<span class="copyright">Copyright &copy; Your Company, LLC . All Rights Reserved.</span>
					<a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
				</div>
			</div>
			<!-- copyright , scrollTo Top -->


			<!-- footer content -->
			<div class="footer-content">
				<div class="container">

					<div class="row">


						<!-- FOOTER CONTACT INFO -->
						<div class="column col-md-4">
							<h3>CONTACT</h3>

							<p class="contact-desc">
								BitcoinID 										
							</p>
							<address class="font-opensans">
								<ul>
									<li class="footer-sprite address">
										PO Box 21132<br />
										Here Weare St, Melbourne<br />
										Vivas 2355 Australia<br />
									</li>
									<li class="footer-sprite phone">
										Phone: 1-800-565-2390
									</li>
									<li class="footer-sprite email">
										<a href="mailto:support@yourname.com">support@yourname.com</a>
									</li>
								</ul>
							</address>

						</div>
						<!-- /FOOTER CONTACT INFO -->


						<!-- FOOTER LOGO -->
						<div class="column logo col-md-4 text-center">
							<div class="logo-content">
								<img class="animate_fade_in" src="/theme/images/logo_footer.png" width="200" alt="" />
								<h4>BitcoinID</h4>
							</div>											
						</div>
						<!-- /FOOTER LOGO -->


						<!-- FOOTER LATEST POSTS -->
						<div class="column col-md-4 text-right">
							<h3>RECENT POSTS</h3>

							<div class="post-item">
								<small>JANUARY 2, 2014 BY ADMIN</small>
								<h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
							</div>
							<div class="post-item">
								<small>JANUARY 2, 2014 BY ADMIN</small>
								<h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
							</div>
							<div class="post-item">
								<small>JANUARY 2, 2014 BY ADMIN</small>
								<h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
							</div>

							<a href="blog-masonry-sidebar.html" class="view-more pull-right">View Blog <i class="fa fa-arrow-right"></i></a>

						</div>
						<!-- /FOOTER LATEST POSTS -->

					</div>

				</div>
			</div>
			<!-- footer content -->
		<!-- /FOOTER -->



		<!-- JAVASCRIPT FILES -->
		div.
			<script type="text/javascript" src="/theme/plugins/jquery-2.0.3.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/jquery.easing.1.3.js"></script>
			<script type="text/javascript" src="/theme/plugins/jquery.cookie.js"></script>
			<script type="text/javascript" src="/theme/plugins/jquery.appear.js"></script>
			<script type="text/javascript" src="/theme/plugins/jquery.isotope.js"></script>
			<script type="text/javascript" src="/theme/plugins/masonry.js"></script>
	
			<script type="text/javascript" src="/theme/plugins/bootstrap/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/owl-carousel/owl.carousel.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/stellar/jquery.stellar.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/knob/js/jquery.knob.js"></script>
			<script type="text/javascript" src="/theme/plugins/jquery.backstretch.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/superslides/dist/jquery.superslides.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/styleswitcher/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
			<script type="text/javascript" src="/theme/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>
			
	
			<!-- REVOLUTION SLIDER -->
			<script type="text/javascript" src="/theme/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
			<script type="text/javascript" src="/theme/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
			<script type="text/javascript" src="/theme/js/slider_revolution.js"></script>
	
	
			<script type="text/javascript" src="/theme/js/scripts.js"></script>
			
			<!-- My Javascript Files -->
			<script type="text/javascript" src="/javascripts/angular.min.js"></script>
			<script type="text/javascript" src="/javascripts/controllers/blocks_ctrl.js"></script>
			<script type="text/javascript" src="/javascripts/controllers/block_ctrl.js"></script>
			<script type="text/javascript" src="/javascripts/controllers/info_ctrl.js"></script>
			
			<!-- My CSS Files -->
			<link href="/stylesheets/bitcoinid.css" rel="stylesheet" type="text/css" />
			
			
			<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
			<!--<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
				ga('create', 'UA-XXXXX-X', 'domainname.com');
				ga('send', 'pageview');
			</script>
			-->