extends ../layout

block content
	section(class="container text-center", style="margin-top: 20px", ng-controller="BlockController", , ng-init="getBlock(#{block})")
		h1(class="text-center")
			strong Block {{block.height}}
			span(class="subtitle") {{block.hash}}
		
		div(class="alert alert-danger", ng-show="error")
			i(class="fa fa-frown-o") 
				strong &nbsp; Error 
				span  {{error}}
		div(class="tp-loader", ng-hide="hasData")
		
		div.row
			div.controller-data(ng-show="hasData")
				div.col-md-6
					div(class="featured-box no-bg border-only")
						div(class="box-content")
							h3 Details
							hr(class="half-margins")
							div.row
								div.col-md-6
									
									p 
										strong Received On
										br
										span {{getBlockDateTime(block)}}
									p 
										strong Confirmations
										br
										span {{block.confirmations}}
									p
										strong Version
										br
										span {{block.version}}
									p
										strong # Transactions
										br
										span {{block.tx.length}}
								div.col-md-6
									p 
										strong Size
										br
										span {{block.size}}
									p 
										strong Nonce
										br
										span {{block.nonce}}
									p 
										strong Bits
										br
										span {{block.bits}}
									p
										strong Difficulty
										br
										span {{block.difficulty}}
				div.col-md-6
					
					div(class="featured-box no-bg border-only")
						div(class="box-content")
							h3 Hashes
							hr(class="half-margins")
							p 
								strong Block Hash 
								span {{block.hash}}
							p 
								strong Next Block  
								span {{block.nextblockhash}}
							p  
								strong Previous Block 
								span {{block.previousblockhash}}
							p  
								strong Merkle Root  
								span {{block.merkleroot}}
			
			
		div(class="container").
			<hr class="half-margins" /><!-- hr line -->

		h2 Transactions
		div(ng-repeat="(idx, tx) in block.tx")
			div.row(style="margin-top: 40px;")
				div.col-md-12
					div(class="featured-box no-bg border-only")
						div(class="box-content")
							span(class="label label-info pull-left") \#{{idx+1}}
							div.loading(ng-hide="tx.txid")
								h4 {{tx}}
								br
								br
								div(class="tp-loader", style="margin-top: 40pm")
							
							div(ng-show="tx.txid")
								
								h4 {{tx.txid}}
								
								hr(class="half-margins")
								div.row
									div.col-md-6
										h4 Inputs
										p(ng-hide="tx.inputs[0].prev_out") Coinbase
										div(ng-repeat="(entity, inputs) in tx.ein")
											div(class="row")
												div(class="col-md-12")
													a(href="/api/entity/{{entity}}") 
														i(class="fa fa-user")
														span &nbsp;{{entity}}
													div(ng-repeat="(idx, input) in inputs")
														p {{input.prev_out.addr}}   
															span(class="label label-warning") {{input.prev_out.value}} BTC
														
									div.col-md-6
										h4 Outputs
										div(ng-repeat="(entity, outputs) in tx.eout")
											div(class="row")
												div(class="col-md-12")
													a(href="/api/entity/{{entity}}") 
														i(class="fa fa-user")
														span &nbsp;{{entity}}
													div(ng-repeat="(idx, output) in outputs")
														p {{output.addr}}    
															span(class="label label-success") {{output.value}} BTC
			
		